<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <ul>
            <% list.forEach(function(item) { %>
               <li> 
                <!-- <form action="/get" method="put" class="updateitem">
                    <%=item.id%>
                    <input type="input" name="name" value=<%=item.name%>>
                    <input type="input" name="capital" value=<%=item.capital%>>
                    <button type="submit" class="updateitem">Update</button>
                <form> -->
                   <b> Id: </b> <%=item.id%>
                   <b> Name: </b> <%=item.name%>
                   <b> Capital: </b> <%=item.capital%>
                  


              
            </li>
            <% }); %> 
           </ul>
    </div>

    
</body>
</html>